
<mat-toolbar color="primary">
  <mat-toolbar-row >
    

    <span class="example-spacer"></span>

   
    <a mat-flat-button color="primary" routerLink="" [matMenuTriggerFor]="menu" (click)="showcart()">
          <span> Cart </span>
    </a>

  </mat-toolbar-row>
</mat-toolbar>


<mat-menu #menu="matMenu">

  <table class="table table-responsive">
    <tr *ngFor="let a of cart">
        <td><img src="data:image/*;base64,{{a.pic}}" height="40" width="40"></td>
        <td>{{a.prnm}}</td>
        <td>{{a.price}}</td>

        <td><button  mat-fab (click)="deletecart(a)" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button></td>
    </tr>
  </table>
  <hr>
  <h5>Total : {{tot}}</h5>

  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
  <button type="button" mat-raised-button color="primary"  aria-label="Order Now" (click)="orderitems()"> Order Now </button>


</mat-menu>

